@charset "UTF-8";
/* Ajustes Bootstrap */
*, ::after, ::before {
  box-sizing: content-box; }

p {
  margin-bottom: 0; }

a:hover {
  color: white; }

input::placeholder {
  font-size: 16px;
  padding-left: 16px; }

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
  font-weight: 700; }

.nav-link {
  margin-left: 20px;
  margin-right: 20px; }

.navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show > .nav-link {
  color: #760AFF;
  font-weight: 700; }

.navbar > .container, .navbar > .container-fluid, .navbar > .container-lg,
.navbar > .container-md, .navbar > .container-sm, .navbar > .container-xl,
.navbar > .container-xxl {
  background: white;
  z-index: 10; }

.navbar-light .navbar-toggler-icon {
  background-image: url("../images/Burger.png"); }

.navbar-light .navbar-toggler {
  border-color: white; }

.navbar-toggler:focus {
  box-shadow: none; }

/* ESTILOS GENERALES */
* {
  font-family: 'Nunito', sans-serif;
  margin: 0px;
  padding: 0px; }

ul {
  display: flex;
  justify-content: space-between; }

nav {
  background-color: white;
  width: 605px;
  box-sizing: border-box; }
  nav li {
    display: inline-block;
    font-size: 14px;
    font-weight: 600; }

a {
  color: #212121;
  text-decoration: none; }

main {
  background-color: white; }

h1 {
  font-weight: 800;
  font-size: 65px;
  line-height: 65px;
  color: #760AFF; }

h2 {
  font-size: 25px;
  margin-bottom: 50px;
  margin-left: 107px;
  margin-top: 50px; }

h3 {
  font-size: 18px; }

h4 {
  font-size: 15px;
  margin-bottom: 25px; }

legend {
  font-size: 25px;
  font-weight: 600; }

input {
  height: 40px;
  font-size: 18px;
  font-weight: 500;
  border-radius: 10px;
  border-style: none; }

footer {
  background-color: #212121;
  color: white;
  padding-bottom: 5px; }
  footer a {
    color: white; }
  footer img {
    height: 30px;
    margin-right: 10px;
    width: 30px; }
  footer > div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "RRSS DireccionTel Horarios";
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    padding: 54px 30px 54px 30px; }

.barraDeNavegacion {
  height: auto;
  width: 100%;
  display: flex;
  justify-content: space-between;
  text-align: center;
  align-items: center;
  padding-left: 73px;
  padding-right: 73px; }
  .barraDeNavegacion .navbar-collapse {
    justify-content: flex-end; }
  .barraDeNavegacion #logo {
    padding: 24px 0px;
    display: inline-block; }
    .barraDeNavegacion #logo img {
      width: 47px;
      height: 47px; }

.navbar-collapse {
  justify-content: flex-end; }

.botonesFlotantes #botonScrollTop {
  top: 81%; }

.botonesFlotantes #botonWhatsApp {
  top: 90%; }

.botonesFlotantes img {
  position: fixed;
  width: 48px;
  height: 48px;
  right: 1%;
  z-index: 1; }

.infoFooter {
  min-width: 320px; }
  .infoFooter a.alineacionIconoTexto {
    display: flex;
    align-items: center;
    margin-bottom: 10px; }
  .infoFooter a .iconosRedesSociales {
    display: inline-block; }
  .infoFooter #horariosDeAtencion {
    text-align: left; }

#copyright {
  text-align: center; }

/*INICIO*/
#heroInicio {
  width: 100%;
  height: calc(100vh - 80px);
  background-image: url("../images/heroinicio.png");
  background-position: right;
  background-repeat: no-repeat; }
  #heroInicio #heroContenidoPrincipal {
    position: absolute;
    width: 331px;
    height: 118px;
    left: 90px;
    top: 150px; }
    #heroInicio #heroContenidoPrincipal p {
      font-weight: 600;
      font-size: 15px;
      line-height: 20px;
      color: #760AFF;
      margin-top: 26px;
      margin-bottom: 26px; }
  #heroInicio .formularioNewsletter {
    width: 600px;
    height: auto;
    box-sizing: border-box;
    background-color: #760AFF;
    padding: 30px;
    color: white;
    border-radius: 10px;
    margin-left: 20px;
    margin-right: 20px; }
    #heroInicio .formularioNewsletter .elementosFormularioNL {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px; }
      #heroInicio .formularioNewsletter .elementosFormularioNL input {
        margin-bottom: 15px;
        width: 100%; }
        #heroInicio .formularioNewsletter .elementosFormularioNL input #nombreUsuarioNL {
          width: auto;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px; }
        #heroInicio .formularioNewsletter .elementosFormularioNL input #emailUsuarioNL {
          width: auto;
          margin-left: auto;
          margin-right: auto;
          margin-bottom: 20px; }
      #heroInicio .formularioNewsletter .elementosFormularioNL .botonPrincipal {
        order: 2; }
      #heroInicio .formularioNewsletter .elementosFormularioNL .botonEnlace {
        margin-top: 15px;
        margin: auto;
        order: 1; }
  #heroInicio #barraContadores {
    position: absolute;
    width: 100%;
    bottom: 0vh;
    background-color: #760AFF;
    color: white;
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 100px;
    grid-template-areas: "area1 area2 area3 area4";
    justify-content: space-around;
    text-align: center;
    align-items: center; }
    #heroInicio #barraContadores .contadorVacunas {
      grid-area: area1; }
    #heroInicio #barraContadores .contadorCastraciones {
      grid-area: area2; }
    #heroInicio #barraContadores .contadorChapitas {
      grid-area: area3; }
    #heroInicio #barraContadores .contadorPulgas {
      grid-area: area4; }
    #heroInicio #barraContadores .contadorNumero {
      font-size: 30px;
      font-weight: 600; }
    #heroInicio #barraContadores .contadorTexto {
      font-size: 15px;
      font-weight: 600; }

.botonPrincipal {
  background-color: #00C6BA;
  color: white;
  height: 42px;
  width: 254px;
  border: none;
  border-radius: 10px;
  font-size: 18px;
  font-weight: 700; }
  .botonPrincipal:hover {
    background-color: #05b4a9; }

#contenedorServicios {
  margin-left: auto;
  margin-right: auto;
  max-width: 1227px;
  text-align: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  #contenedorServicios div {
    flex-shrink: 0;
    width: 230px;
    height: 180px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    padding: 34px 32px 23px 32px;
    box-shadow: 0px 1px 15px rgba(155, 155, 155, 0.2);
    border-radius: 10px;
    display: inline-block;
    vertical-align: top;
    margin: 0px 25px 50px 25px; }
  #contenedorServicios h3 {
    margin-bottom: 27px; }

#subtituloPacientes {
  margin-top: 0px; }

.carousel-item {
  transition: transform .6s ease-in; }
  .carousel-item .carruselPacientes {
    width: 818px;
    height: 298px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 50px;
    background-color: #760AFF;
    border-radius: 10px;
    display: flex; }
    .carousel-item .carruselPacientes div {
      margin: auto;
      text-align: center;
      color: white;
      font-size: 15px;
      margin-left: 35px;
      margin-right: 35px; }
    .carousel-item .carruselPacientes img {
      border-top-left-radius: 9px;
      border-bottom-left-radius: 9px; }

/* NOSOTROS */
#heroNosotros {
  width: 100%;
  background-image: url("../images/heronosotros.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px; }
  #heroNosotros #nosotrosContenidoPrincipal {
    overflow: auto; }
    #heroNosotros #nosotrosContenidoPrincipal h2 {
      color: white; }
    #heroNosotros #nosotrosContenidoPrincipal p {
      margin: auto;
      text-align: center;
      font-size: 15px;
      color: white;
      width: 1000px; }

#contenedorCajasVioleta {
  display: grid;
  grid-auto-columns: 326px 326px 326px;
  grid-template-rows: auto;
  grid-template-areas: "Mision Vision Valores";
  justify-content: space-evenly; }
  #contenedorCajasVioleta .cajasVioleta {
    background-color: #760AFF;
    padding: 25px 33px 25px 33px;
    text-align: center;
    color: white;
    top: 60px;
    position: relative; }
    #contenedorCajasVioleta .cajasVioleta p {
      margin-top: 10px;
      width: 260px;
      margin-left: auto;
      margin-right: auto;
      font-size: 15px; }
    #contenedorCajasVioleta .cajasVioleta ul {
      margin-top: 10px;
      width: 260px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      padding-left: 0px; }
    #contenedorCajasVioleta .cajasVioleta li {
      font-size: 15px;
      font-weight: 500;
      display: inline-block; }

#seccionNosotros {
  margin-top: 140px; }
  #seccionNosotros #contenedorNosotros {
    display: flex;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    flex-wrap: wrap;
    justify-content: space-evenly; }
    #seccionNosotros #contenedorNosotros h3 {
      margin-top: 17px;
      margin-bottom: 11px; }
    #seccionNosotros #contenedorNosotros div {
      flex-shrink: 0;
      width: 326px;
      height: auto;
      font-weight: 600;
      font-size: 15px;
      text-align: center;
      line-height: 20px;
      box-shadow: 0px 1px 15px rgba(155, 155, 155, 0.2);
      border-radius: 10px;
      vertical-align: top;
      margin-bottom: 50px;
      padding-bottom: 11px; }
    #seccionNosotros #contenedorNosotros img {
      width: 100%;
      height: auto;
      border-radius: 10px; }

/* MARCAS */
.carousel-inner .carousel-item {
  transition: transform .6s ease-in; }
  .carousel-inner .carousel-item .w-100 {
    width: 80% !important;
    margin-left: auto;
    margin-right: auto;
    border-radius: 10px; }

button.carousel-control-prev {
  left: 37px;
  opacity: 1; }
  button.carousel-control-prev .carousel-control-prev-icon {
    background-image: url("../images/flechaanterior.png");
    height: 55px;
    width: 55px; }

button.carousel-control-next {
  right: 37px;
  opacity: 1; }
  button.carousel-control-next .carousel-control-next-icon {
    background-image: url("../images/flechasiguiente.png");
    height: 55px;
    width: 55px; }

.margenCarrusel {
  margin-bottom: 50px; }

/* SECCIÓN BLOG */
#heroBlog {
  width: 100%;
  background-image: url("../images/heroblog.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  overflow: auto; }
  #heroBlog h2 {
    color: white; }
  #heroBlog p {
    margin: auto;
    text-align: center;
    font-size: 15px;
    color: white; }

#contenedorArticulos {
  display: flex;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  flex-wrap: wrap;
  justify-content: center;
  max-width: 1500px; }
  #contenedorArticulos .cajaArticulo {
    flex-shrink: 0;
    width: 326px;
    height: auto;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
    line-height: 20px;
    box-shadow: 0px 1px 15px rgba(155, 155, 155, 0.2);
    border-radius: 10px;
    vertical-align: top;
    margin: 0px 25px 50px 25px;
    padding-bottom: 20px; }
    #contenedorArticulos .cajaArticulo h3 {
      margin-top: 17px;
      margin-bottom: 16px; }
    #contenedorArticulos .cajaArticulo img {
      width: 100%;
      height: auto;
      border-radius: 10px; }
    #contenedorArticulos .cajaArticulo .botonLeer {
      width: 125px;
      height: 35px;
      background: #760AFF;
      border-radius: 10px;
      padding: 5px 44px 5px 44px;
      color: white; }
      #contenedorArticulos .cajaArticulo .botonLeer:hover {
        background-color: #6607e2; }

.formularioBlog {
  background-color: #760AFF;
  color: white;
  width: 1000px;
  border-radius: 10px;
  padding-top: 33px;
  margin: auto;
  margin-bottom: 50px;
  padding: 40px; }
  .formularioBlog .elementosFormulario {
    display: flex;
    justify-content: space-between;
    margin-top: 20px; }
    .formularioBlog .elementosFormulario input {
      width: 310px; }

.botonEnlace {
  font-size: 18px;
  font-weight: 700;
  color: white;
  background-color: transparent;
  border-style: none; }

/* CONTACTO */
#contenedorContacto {
  display: grid;
  grid-template-columns: 40% 40%;
  grid-template-rows: auto;
  grid-template-areas: "formulario mapa";
  margin-bottom: 50px;
  justify-content: space-evenly;
  justify-items: center;
  column-gap: 50px; }
  #contenedorContacto #formularioContacto {
    width: 550px;
    background-color: #760AFF;
    border-radius: 10px;
    padding: 40px; }
    #contenedorContacto #formularioContacto input {
      width: 100%;
      margin-bottom: 26px; }
    #contenedorContacto #formularioContacto #mensajeUsuario {
      height: 100px; }
    #contenedorContacto #formularioContacto div {
      display: flex;
      justify-content: end; }
    #contenedorContacto #formularioContacto legend {
      color: white;
      margin-bottom: 16px; }

#cajaMapa {
  width: 620px;
  height: 466px;
  border-radius: 10px;
  padding-bottom: 50px;
  background-color: white;
  box-shadow: 0px 1px 15px rgba(155, 155, 155, 0.2);
  border-radius: 10px;
  text-align: center; }
  #cajaMapa img {
    height: 30px;
    width: 30px;
    display: inline-block; }
  #cajaMapa div {
    text-align: center;
    justify-content: center; }
  #cajaMapa iframe {
    margin-bottom: 36px;
    border-radius: 10px;
    width: 100%; }

/* ARTICULO BLOG */
#heroArticuloBlog {
  width: 100%;
  background-image: url("../images/heroarticulo1.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 350px;
  overflow: auto; }
  #heroArticuloBlog h2 {
    color: white; }
  #heroArticuloBlog p {
    margin: auto;
    text-align: center;
    font-size: 30px;
    color: white;
    width: 1216px;
    font-weight: 600; }

#avatarAutor {
  display: flex;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 100px; }
  #avatarAutor img {
    height: 50px;
    width: 50px;
    justify-items: center;
    margin-right: 15px; }

.parrafoIntroduccion {
  width: auto;
  margin-left: 80px;
  margin-right: 80px; }

.cuerpoArticulo {
  width: auto;
  margin-top: 20px;
  margin-bottom: 50px;
  margin-left: 100px;
  margin-right: 100px; }
  .cuerpoArticulo li {
    font-size: 15px;
    font-weight: 500;
    margin-top: 10px;
    margin-bottom: 10px; }

@media only screen and (max-width: 449px) {
  .navbar-collapse {
    height: 100vh; }
  /* ESTILOS GENERALES */
  nav li {
    font-size: 16px;
    padding: 15px 0px 15px 15px; }
  h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px; }
  h2 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-top: 30px;
    text-align: center; }
  h3 {
    font-size: 16px; }
  h4 {
    font-size: 14px;
    margin-bottom: 25px; }
  footer > div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "RRSS" "DireccionTel" "Horarios";
    row-gap: 45px;
    justify-items: center; }
  legend {
    font-size: 17px; }
  .barraDeNavegacion {
    height: 110px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px; }
    .barraDeNavegacion ul {
      display: flex;
      flex-direction: column;
      align-items: start;
      height: 100vh;
      justify-content: flex-start; }
  #logo img {
    padding-left: 30px; }
  .navbar-light .navbar-toggler {
    padding-right: 30px; }
  .botonPrincipal {
    height: 35px;
    width: 159px;
    font-size: 16px;
    order: 4; }
  .botonEnlace {
    font-size: 16px;
    order: 3; }
  .infoFooter {
    min-width: 320px;
    padding-left: 50px;
    box-sizing: border-box; }
    .infoFooter span {
      font-size: 14px; }
    .infoFooter p {
      font-size: 14px; }
  .botonesFlotantes img {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    z-index: 1; }
  .botonesFlotantes #botonWhatsApp {
    bottom: 20px; }
  .botonesFlotantes #botonScrollTop {
    display: none; }
  #copyright {
    font-size: 12px;
    text-align: center; }
  /*INICIO*/
  #heroInicio {
    width: 100%;
    height: calc(100vh - 110px);
    background-image: url("../images/heromobile.png");
    background-position: center;
    background-repeat: no-repeat; }
    #heroInicio #heroContenidoPrincipal {
      width: auto;
      height: 118px;
      left: 44px; }
      #heroInicio #heroContenidoPrincipal p {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 26px; }
    #heroInicio #barraContadores {
      grid-template-columns: 50% 50%;
      grid-template-rows: 108px 108px;
      grid-template-areas: "area1 area2" "area3 area4"; }
      #heroInicio #barraContadores .contadorVacunas {
        grid-area: area1; }
      #heroInicio #barraContadores .contadorCastraciones {
        grid-area: area2; }
      #heroInicio #barraContadores .contadorChapitas {
        grid-area: area3; }
      #heroInicio #barraContadores p .contadorPulgas {
        grid-area: area4; }
      #heroInicio #barraContadores p .contadorTexto {
        font-size: 14px; }
  #contenedorServicios div {
    width: 235px;
    height: 160px;
    margin-bottom: 30px; }
  .carousel-item .carruselPacientes {
    width: 300px;
    height: 550px;
    flex-wrap: wrap;
    align-content: flex-start;
    margin-bottom: 30px; }
    .carousel-item .carruselPacientes div {
      margin: 33px 28px 33px 28px; }
    .carousel-item .carruselPacientes img {
      height: fit-content;
      width: 100%;
      border-radius: 10px 10px 0px 0px; }
  /*NOSOTROS*/
  #heroNosotros {
    background-image: url("../images/heronosotrosmobile.png");
    height: 340px; }
    #heroNosotros #nosotrosContenidoPrincipal h2 {
      margin-left: 20px;
      text-align: start; }
    #heroNosotros #nosotrosContenidoPrincipal p {
      width: 260px;
      text-align: center;
      font-size: 14px; }
    #heroNosotros #contenedorCajasVioleta {
      display: grid;
      grid-auto-columns: 300px;
      grid-template-rows: auto;
      grid-template-areas: "Mision" "Vision" "Valores";
      justify-content: space-evenly;
      row-gap: 30px;
      margin-top: -30px; }
      #heroNosotros #contenedorCajasVioleta .cajasVioleta p {
        font-size: 14px;
        width: 230px; }
      #heroNosotros #contenedorCajasVioleta .cajasVioleta li {
        font-size: 14px; }
      #heroNosotros #contenedorCajasVioleta .cajasVioleta ul {
        width: auto; }
  #seccionNosotros {
    margin-top: 660px; }
    #seccionNosotros #contenedorNosotros div {
      width: 300px;
      margin-bottom: 30px;
      margin-left: 20px;
      margin-right: 20px; }
    #seccionNosotros #contenedorNosotros p {
      margin-bottom: 10px; }
  /*MARCAS*/
  button.carousel-control-prev {
    left: 10px; }
    button.carousel-control-prev .carousel-control-prev-icon {
      height: 30px;
      width: 30px; }
  button.carousel-control-next {
    right: 10px; }
    button.carousel-control-next .carousel-control-next-icon {
      height: 30px;
      width: 30px; }
  .margenCarrusel {
    margin-bottom: 30px; }
  /*BLOG*/
  #heroBlog {
    background-image: url("../images/heroblogmobile.png"); }
    #heroBlog h2 {
      margin-left: 20px;
      text-align: start; }
    #heroBlog p {
      width: auto;
      text-align: center;
      font-size: 14px;
      margin: 70px 50px 70px 50px; }
    #heroBlog #contenedorArticulos .cajaArticulo {
      width: 300px; }
  .formularioBlog {
    width: 300px;
    box-sizing: border-box; }
    .formularioBlog .elementosFormulario {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px; }
      .formularioBlog .elementosFormulario input {
        width: 220px;
        margin-bottom: 20px; }
      .formularioBlog .elementosFormulario .botonEnlace {
        margin-left: 0px; }
  /*CONTACTO*/
  #contenedorContacto {
    grid-template-columns: 100%;
    grid-template-areas: "formulario" "mapa";
    margin: 30px 20px 30px 20px; }
    #contenedorContacto #formularioContacto {
      width: auto;
      padding-left: 20px;
      padding-right: 20px; }
      #contenedorContacto #formularioContacto div {
        justify-content: space-between; }
      #contenedorContacto #formularioContacto legend {
        color: white;
        margin-bottom: 16px; }
      #contenedorContacto #formularioContacto .botonEnlace {
        padding-left: 20px;
        padding-right: 20px; }
  #cajaMapa {
    margin-top: 30px;
    width: 100%;
    height: 280px; }
    #cajaMapa img {
      height: 25px;
      width: 25px; }
    #cajaMapa span {
      font-size: 14px; }
    #cajaMapa iframe {
      width: 100%;
      height: 220px; }
  /*ARTICULO BLOG*/
  #heroArticuloBlog {
    background-image: url("../images/heroarticulo1mobile.png"); }
    #heroArticuloBlog h2 {
      margin-left: 20px;
      text-align: start; }
    #heroArticuloBlog p {
      width: auto;
      text-align: center;
      font-size: 16px;
      margin: 110px 50px 100px 50px; }
  #avatarAutor {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px; }
    #avatarAutor img {
      height: 30px;
      width: 30px; }
    #avatarAutor span {
      font-size: 14px; }
  .parrafoIntroduccion {
    width: auto;
    margin-left: 40px;
    margin-right: 40px; }
  .cuerpoArticulo {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 30px; }
    .cuerpoArticulo ul {
      margin-top: 10px;
      width: 260px;
      margin-left: auto;
      margin-right: auto;
      display: block; }
    .cuerpoArticulo li {
      font-size: 15px;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 10px; } }

@media only screen and (min-width: 450px) and (max-width: 768px) {
  .navbar-collapse {
    height: 100vh; }
  /* ESTILOS GENERALES */
  nav li {
    font-size: 16px;
    padding: 15px 0px 15px 15px; }
  h1 {
    font-weight: 800;
    font-size: 40px;
    line-height: 40px; }
  h2 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-top: 30px;
    text-align: center; }
  h3 {
    font-size: 16px; }
  h4 {
    font-size: 14px;
    margin-bottom: 25px; }
  footer > div {
    display: grid;
    grid-template-columns: 100%;
    grid-template-areas: "RRSS" "DireccionTel" "Horarios";
    row-gap: 45px;
    justify-items: center; }
  legend {
    font-size: 17px;
    margin-bottom: 20px; }
  .barraDeNavegacion {
    height: 110px;
    display: flex;
    justify-content: space-between;
    text-align: center;
    align-items: center;
    padding-left: 0px;
    padding-right: 0px; }
    .barraDeNavegacion ul {
      display: flex;
      flex-direction: column;
      align-items: start;
      height: 100vh;
      justify-content: flex-start; }
  #logo img {
    padding-left: 30px; }
  .navbar-light .navbar-toggler {
    padding-right: 30px; }
  .botonPrincipal {
    height: 35px;
    width: 159px;
    font-size: 16px;
    order: 4; }
  .botonEnlace {
    font-size: 16px;
    order: 3; }
  .infoFooter {
    min-width: 320px;
    padding-left: 50px;
    box-sizing: border-box; }
    .infoFooter span {
      font-size: 14px; }
    .infoFooter p {
      font-size: 14px; }
  .botonesFlotantes img {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    z-index: 1; }
  .botonesFlotantes #botonWhatsApp {
    bottom: 20px; }
  .botonesFlotantes #botonScrollTop {
    display: none; }
  #copyright {
    font-size: 12px; }
  /*INICIO*/
  #heroInicio {
    width: 100%;
    height: calc(100vh - 110px);
    background-image: url("../images/heromobile.png");
    background-position: center;
    background-repeat: no-repeat; }
    #heroInicio #heroContenidoPrincipal {
      width: auto;
      height: 118px;
      left: 44px; }
      #heroInicio #heroContenidoPrincipal p {
        font-size: 15px;
        margin-top: 10px;
        margin-bottom: 26px; }
    #heroInicio #barraContadores {
      grid-template-columns: 50% 50%;
      grid-template-rows: 108px 108px;
      grid-template-areas: "area1 area2" "area3 area4"; }
      #heroInicio #barraContadores .contadorVacunas {
        grid-area: area1; }
      #heroInicio #barraContadores .contadorCastraciones {
        grid-area: area2; }
      #heroInicio #barraContadores .contadorChapitas {
        grid-area: area3; }
      #heroInicio #barraContadores .contadorPulgas {
        grid-area: area4; }
      #heroInicio #barraContadores P .contadorTexto {
        font-size: 14px; }
  #contenedorServicios div {
    width: 235px;
    height: 160px;
    margin-bottom: 30px; }
  .carousel-item {
    transition: transform .6s ease-in; }
    .carousel-item .carruselPacientes {
      width: 300px;
      height: 550px;
      flex-wrap: wrap;
      align-content: flex-start;
      margin-bottom: 30px; }
      .carousel-item .carruselPacientes div {
        margin: 33px 28px 33px 28px; }
      .carousel-item .carruselPacientes img {
        height: fit-content;
        width: 100%;
        border-radius: 10px 10px 0px 0px; }
  /* NOSOTROS */
  #heroNosotros {
    background-image: url("../images/heronosotrosmobile.png");
    height: 340px; }
    #heroNosotros #nosotrosContenidoPrincipal h2 {
      margin-left: 20px;
      text-align: start; }
    #heroNosotros #nosotrosContenidoPrincipal p {
      width: 400px;
      text-align: center;
      font-size: 14px; }
  #contenedorCajasVioleta {
    display: grid;
    grid-auto-columns: 300px;
    grid-template-rows: auto;
    grid-template-areas: "Mision" "Vision" "Valores";
    justify-content: space-evenly;
    row-gap: 30px;
    margin-top: -30px; }
    #contenedorCajasVioleta .cajasVioleta p {
      font-size: 14px;
      width: 230px; }
    #contenedorCajasVioleta .cajasVioleta ul {
      width: auto; }
    #contenedorCajasVioleta .cajasVioleta li {
      font-size: 14px; }
  #seccionNosotros {
    margin-top: 590px; }
    #seccionNosotros #contenedorNosotros div {
      width: 300px;
      margin-bottom: 30px;
      margin-left: 20px;
      margin-right: 20px; }
    #seccionNosotros #contenedorNosotros P {
      margin-bottom: 10px; }
  /* MARCAS */
  button.carousel-control-prev {
    left: 20px; }
    button.carousel-control-prev .carousel-control-prev-icon {
      height: 40px;
      width: 40px; }
  button.carousel-control-next {
    right: 20px; }
    button.carousel-control-next .carousel-control-next-icon {
      height: 40px;
      width: 40px; }
  .margenCarrusel {
    margin-bottom: 30px; }
  /* SECCIÓN BLOG */
  #heroBlog {
    background-image: url("../images/heroblogmobile.png"); }
    #heroBlog h2 {
      margin-left: 20px;
      text-align: start; }
    #heroBlog p {
      width: auto;
      text-align: center;
      font-size: 14px;
      margin: 70px 50px 70px 50px; }
  #contenedorArticulos .cajaArticulo {
    width: 300px; }
  .formularioBlog {
    width: auto;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 40px; }
    .formularioBlog .elementosFormulario {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px; }
      .formularioBlog .elementosFormulario input {
        width: 800px;
        margin-bottom: 20px; }
      .formularioBlog .elementosFormulario .botonEnlace {
        margin-left: 0px; }
  /* CONTACTO */
  #contenedorContacto {
    grid-template-columns: 100%;
    grid-template-areas: "formulario" "mapa";
    margin: 30px 20px 30px 20px; }
    #contenedorContacto #formularioContacto {
      width: auto;
      padding-left: 20px;
      padding-right: 20px; }
      #contenedorContacto #formularioContacto div {
        justify-content: space-between; }
      #contenedorContacto #formularioContacto .botonEnlace {
        padding-left: 20px;
        padding-right: 20px; }
  #cajaMapa {
    margin-top: 30px;
    width: 100%;
    height: 280px; }
    #cajaMapa img {
      height: 25px;
      width: 25px; }
    #cajaMapa span {
      font-size: 14px; }
    #cajaMapa iframe {
      width: 100%;
      height: 220px; }
  /* ARTICULO BLOG */
  #heroArticuloBlog {
    background-image: url("../images/heroarticulo1mobile.png"); }
    #heroArticuloBlog h2 {
      margin-left: 20px;
      text-align: start; }
    #heroArticuloBlog p {
      width: auto;
      text-align: center;
      font-size: 16px;
      margin: 110px 50px 100px 50px; }
  #avatarAutor {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px; }
    #avatarAutor img {
      height: 30px;
      width: 30px; }
    #avatarAutor span {
      font-size: 14px; }
  .parrafoIntroduccion {
    width: auto;
    margin-left: 40px;
    margin-right: 40px; }
  .cuerpoArticulo {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 30px; }
    .cuerpoArticulo ul {
      margin-top: 10px;
      width: 260px;
      margin-left: auto;
      margin-right: auto;
      display: block; }
    .cuerpoArticulo li {
      font-size: 15px;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 10px; } }

@media only screen and (min-width: 769px) and (max-width: 1024px) {
  /* ESTILOS GENERALES */
  h1 {
    font-weight: 800;
    font-size: 55px;
    line-height: 55px; }
  h2 {
    font-size: 20px;
    margin-bottom: 30px;
    margin-left: 0px;
    margin-top: 30px;
    text-align: center; }
  h3 {
    font-size: 16px; }
  h4 {
    font-size: 14px;
    margin-bottom: 25px; }
  footer > div {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto;
    grid-template-areas: "RRSS DireccionTel Horarios";
    justify-content: space-around;
    justify-items: center;
    align-content: space-evenly;
    padding: 54px 30px 54px 30px; }
  legend {
    font-size: 17px;
    margin-bottom: 20px; }
  .botonPrincipal {
    height: 35px;
    width: 180px;
    font-size: 16px;
    order: 4; }
  .botonEnlace {
    font-size: 16px;
    order: 3; }
  .infoFooter {
    min-width: 320px;
    padding-left: 50px;
    box-sizing: border-box; }
    .infoFooter span {
      font-size: 14px; }
    .infoFooter p {
      font-size: 14px; }
  .botonesFlotantes img {
    position: fixed;
    width: 50px;
    height: 50px;
    right: 10px;
    z-index: 1; }
  .botonesFlotantes #botonWhatsApp {
    bottom: 20px; }
  .botonesFlotantes #botonScrollTop {
    display: none; }
  #copyright {
    font-size: 12px; }
  /*INICIO*/
  #heroInicio {
    width: 100%;
    height: calc(100vh - 110px);
    background-image: url("../images/heroinicio.png");
    background-position: center;
    background-repeat: no-repeat; }
    #heroInicio #heroContenidoPrincipal {
      width: auto;
      height: 118px;
      left: 90px; }
      #heroInicio #heroContenidoPrincipal p {
        font-size: 16px;
        margin-top: 10px;
        margin-bottom: 24px; }
    #heroInicio #barraContadores {
      position: absolute;
      width: 100%;
      bottom: 0vh;
      background-color: #760AFF;
      color: white;
      display: grid;
      grid-template-columns: 25% 25% 25% 25%;
      grid-template-rows: 100px;
      grid-template-areas: "area1 area2 area3 area4";
      justify-content: space-around;
      text-align: center;
      align-items: center; }
      #heroInicio #barraContadores .contadorVacunas {
        grid-area: area1; }
      #heroInicio #barraContadores .contadorCastraciones {
        grid-area: area2; }
      #heroInicio #barraContadores .contadorChapitas {
        grid-area: area3; }
      #heroInicio #barraContadores .contadorPulgas {
        grid-area: area4; }
      #heroInicio #barraContadores p .contadorTexto {
        font-size: 14px; }
  #contenedorServicios div {
    width: 235px;
    height: 160px;
    margin-bottom: 30px;
    margin-left: 20px;
    margin-right: 20px; }
  .carousel-item {
    transition: transform .6s ease-in; }
    .carousel-item .carruselPacientes {
      width: 818px;
      height: 298px;
      margin-left: auto;
      margin-right: auto;
      margin-bottom: 50px;
      background-color: #760AFF;
      border-radius: 10px;
      display: flex; }
      .carousel-item .carruselPacientes div {
        margin: auto;
        text-align: center;
        color: white;
        font-size: 15px;
        margin-left: 35px;
        margin-right: 35px; }
      .carousel-item .carruselPacientes img {
        border-top-left-radius: 9px;
        border-bottom-left-radius: 9px; }
  /* NOSOTROS */
  #heroNosotros {
    background-image: url("../images/heronosotrosmobile.png");
    height: 340px; }
    #heroNosotros #nosotrosContenidoPrincipal h2 {
      margin-left: 20px;
      text-align: start; }
    #heroNosotros #nosotrosContenidoPrincipal p {
      width: 650px;
      text-align: center;
      font-size: 14px; }
  #contenedorCajasVioleta {
    display: grid;
    grid-auto-columns: 300px;
    grid-template-rows: auto;
    grid-template-areas: "Mision" "Vision" "Valores";
    justify-content: space-evenly;
    row-gap: 30px;
    margin-top: -30px; }
    #contenedorCajasVioleta .cajasVioleta p {
      font-size: 14px;
      width: 230px; }
    #contenedorCajasVioleta .cajasVioleta ul {
      width: auto; }
    #contenedorCajasVioleta .cajasVioleta li {
      font-size: 14px; }
  #seccionNosotros {
    margin-top: 560px; }
    #seccionNosotros #contenedorNosotros div {
      width: 300px;
      margin-bottom: 30px;
      margin-left: 20px;
      margin-right: 20px; }
    #seccionNosotros #contenedorNosotros p {
      margin-bottom: 10px; }
  /* MARCAS */
  button.carousel-control-prev {
    left: 25px; }
  button.carousel-control-next {
    right: 25px; }
  .margenCarrusel {
    margin-bottom: 30px; }
  /* SECCIÓN BLOG */
  #heroBlog {
    background-image: url("../images/heroblogmobile.png"); }
    #heroBlog h2 {
      margin-left: 20px;
      text-align: start; }
    #heroBlog p {
      width: auto;
      text-align: center;
      font-size: 14px;
      margin: 70px 50px 70px 50px; }
  #contenedorArticulos .cajaArticulo {
    width: 300px; }
  .formularioBlog {
    width: auto;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 40px; }
    .formularioBlog .elementosFormulario {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px; }
      .formularioBlog .elementosFormulario input {
        width: 1000px;
        margin-bottom: 20px; }
      .formularioBlog .elementosFormulario .botonEnlace {
        margin-left: 0px; }
  /* CONTACTO */
  #contenedorContacto {
    grid-template-columns: 100%;
    grid-template-areas: "formulario" "mapa";
    margin: 30px 20px 30px 20px; }
    #contenedorContacto #formularioContacto {
      width: 75%;
      padding-left: 20px;
      padding-right: 20px; }
      #contenedorContacto #formularioContacto div {
        justify-content: space-between; }
  #cajaMapa {
    margin-top: 30px;
    width: 80%;
    height: 280px; }
    #cajaMapa img {
      height: 25px;
      width: 25px; }
    #cajaMapa span {
      font-size: 14px; }
    #cajaMapa iframe {
      width: 100%;
      height: 220px; }
  /* ARTICULO BLOG */
  #heroArticuloBlog {
    background-image: url("../images/heroarticulo1mobile.png"); }
    #heroArticuloBlog h2 {
      margin-left: 20px;
      text-align: start; }
    #heroArticuloBlog p {
      width: auto;
      text-align: center;
      font-size: 16px;
      margin: 110px 50px 100px 50px; }
  #avatarAutor {
    display: flex;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 30px; }
    #avatarAutor img {
      height: 30px;
      width: 30px; }
    #avatarAutor span {
      font-size: 14px; }
  .parrafoIntroduccion {
    width: auto;
    margin-left: 40px;
    margin-right: 40px; }
  .cuerpoArticulo {
    width: auto;
    margin-left: 60px;
    margin-right: 60px;
    margin-top: 20px;
    margin-bottom: 30px; }
    .cuerpoArticulo ul {
      margin-top: 10px;
      width: 260px;
      margin-left: auto;
      margin-right: auto;
      display: block; }
    .cuerpoArticulo li {
      font-size: 15px;
      font-weight: 500;
      margin-top: 10px;
      margin-bottom: 10px; } }

/*Ajuste nav Bootstrap*/
@media (min-width: 769px) {
  .navbar-expand-lg {
    flex-wrap: nowrap;
    justify-content: flex-start; }
  .navbar-expand-lg .navbar-toggler {
    display: none; }
  .navbar-expand-lg .navbar-collapse {
    display: flex !important;
    flex-basis: auto; }
  .navbar-expand-lg .navbar-nav {
    flex-direction: row; } }

/*Ajuste carrusel pacientes en pequeña Laptop*/
@media screen and (max-width: 845px) {
  .carousel-item {
    transition: transform .6s ease-in; }
    .carousel-item .carruselPacientes {
      width: 300px;
      height: 560px;
      flex-wrap: wrap;
      align-content: flex-start;
      margin-bottom: 30px; }
      .carousel-item .carruselPacientes div {
        margin: 33px 28px 33px 28px; }
      .carousel-item .carruselPacientes img {
        height: fit-content;
        width: 100%;
        border-radius: 10px 10px 0px 0px; } }

/*Ajuste formulario blog*/
@media only screen and (min-width: 1025px) and (max-width: 1100px) {
  .botonPrincipal {
    order: 4; }
  .botonEnlace {
    order: 3; }
  .formularioBlog {
    width: auto;
    box-sizing: border-box;
    margin-left: 40px;
    margin-right: 40px; }
    .formularioBlog .elementosFormulario {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: 20px; }
      .formularioBlog .elementosFormulario input {
        width: 2000px;
        margin-bottom: 20px; }
      .formularioBlog .elementosFormulario .botonEnlace {
        margin-left: 0px; } }

/*Ajuste contenedor contacto*/
@media only screen and (min-width: 1025px) and (max-width: 1340px) {
  #contenedorContacto {
    grid-template-columns: 100%;
    grid-template-areas: "formulario" "mapa";
    row-gap: 30px;
    margin: 30px 20px 30px 20px; } }
